/* reset */
* {
  margin: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-inline-size: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* variables */
:root {
  --dark-slate-grey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

/* general style */
body {
  font-family: 'Roboto';
  color: var(--dark-slate-grey);
  background-color: var(--white);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: max-content;
}

.button {
  padding: 14px;
  border-radius: 8px;
  /* margin: 12px 0; */
}

.primary-btn {
  color: var(--white);
  background-color: var(--dark-slate-grey);
  text-align: center;
  width: 100%;
  font-weight: 600;
}

.primary-btn:hover {
  background-color: hsl(4, 100%, 67%);
  box-shadow: 0px 6px 6px 6px hsla(4, 100%, 67%, 0.20); 
}

p {
  line-height: 1.6;
  font-size: 0.938rem;
}

.signup-img-mobile {
  display: inline-block;
}

.signup-img-desktop {
  display: none;
}

/* signup section */
.signup-section {
  display: flex;
  flex-direction: column;
  height: max-content;
  background-color: var(--white);
  height: 100%;
}

.signup-content {
  padding: 36px 24px;
}

.signup-content h1 {
  font-weight: 700;
  font-size: 2.25rem;
}

.signup-content p {
  margin: 26px 0;
}

.signup-content .benefit-list {
  margin: 28px 0;
}

.signup-content .benefit-list li {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 0.938rem;
  margin-bottom: 8px;
}

.signup-content .benefit-list li > img {
  align-self: baseline;
  margin-right: 14px
}

.signup-content .benefit-list li  div {
  line-height: 1.4;
}

.signup-content .input-container {
  margin: 48px 0 8px;
}

.signup-content .input-container .label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 12px;
}

.signup-content .input-container input {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid var(--grey);
  margin-bottom: 24px;
}

/* success section */
.success-section {
  display: none;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  padding: 24px;
  background-color: var(--white);
}

.success-content img {
  /* margin: 96px 0px 32px; */
  margin-top: -38px;
}

.success-content {
  align-self: center;
}

.success-content h1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 24px 0;
}

.success-btn {
  width: calc(100% - 48px);
  bottom: 24px;
  position: absolute;
}

@media screen and (min-width: 1024px) {
  body {
    height: 100vh;
    background-color: var(--charcoal-grey);
  }

  main {
    height: 100%;
  }

  .signup-img-mobile {
    display: none;
  }

  .signup-img-desktop {
    display: inline-block;
  }

  /* signup section */
  .signup-section {
    display: flex;
    flex-direction: row-reverse;
    width: max-content;
    height: 80%;
    border-radius: 18px;
  }

  /* success section */
  .success-content img {
    margin: 0px;
  }

  .success-section{
    max-width: 30%;
    height: min-content;
    display: none;
    border-radius: 18px;
  }

  .success-btn {
    bottom: 0;
    margin-top: 28px;
    position: relative;
    width: 100%;
  }
}

/* labels */

.label-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.error-label {
  color: red;
  text-align: right;
  visibility: hidden;
}